.card__link{
    position: relative;
    width: 30%;    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card__link::after {
	content: "";
	display: block;
	padding-bottom: 100%;
    
}

.card__image {
    position: absolute;
	width: 100%;
	height: 100%;
}

.card__image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);

}
.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__link:hover .card__image img {
    transform: scale(1.1);
    transition: 0.4s;
}

.card__link:not(:hover) .card__image img {
    transform: scale(1);
    transition: 0.4s;
  }

.card__title {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    color:#FFFFFF;
    margin: 20px;
    font-size: 18px;  
}

@media screen and (max-width: 920px) {
    .card__title {
        font-size: 16px;  
    }
}

@media screen and (max-width: 780px) {
    .card__link{
        width: calc(100% / 2 - 15px);    
    }
}

@media screen and (max-width: 476px) {
    .card__link{
        width: 100%;    
    }
}

@media screen and (max-width: 376px) {
    .card__link{
        width: 100%;
    }
    .card__title {
        font-size: 18px;  
    }
}
