.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:red
}

.error404__logo {
    display: flex;
    position: relative;
    width: 597px;
    height: 263px;
}

.error404__logo img {
    position: absolute;
    height: 100%;
    width: 100%;
}